# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production build
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
*.sublime-project
*.sublime-workspace
.c9/
*.launch

# Testing
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache

# Misc
.npm
.eslintignore
